# general file excludes
~*.tmp
~*.docx
*~
*.o
~$*

# ignore Python caches
__pycache__

# ignore build directories
/docs/_build/
/docs/pyIPCMI/*.rst
!/docs/pyIPCMI/index.rst

# ignore folders
/Wrapper/Hooks/*
!/Wrapper/Hooks/README.md

# general whitelist
!.git*
!.publish
!README.md
