# general file excludes
~*.tmp
~*.docx
*~
*.o
~$*

# Python cache and object files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build

# Autogenerted content
/docs/pyIPCMI/*.rst
!/docs/pyIPCMI/index.rst

# PyCharm project
/.idea/workspace.xml

# Ignore folders
/Wrapper/Hooks/*
!/Wrapper/Hooks/README.md

# General whitelist
!.git*
!.publish
!README.md
